<!-- <div class="container">
  <div class="linksContainer">
    <a routerLink="/"
      ><button class="linkButton">ECkursiliteraturshoppen</button></a
    >
    <a routerLink="/order/"><button class="linkButton">En vagn icon</button></a>
    <a routerLink="/about"
      ><button class="linkButton"><i>En meny icon</i></button></a
    >
  </div>
</div> -->
<!-- <h1> EC utbildnings webshop för kurslitteratur </h1> -->
<mat-toolbar color="primary">
  <h1> EC utbildning - Här hittar du all litteratur till våra utbildningar </h1>
  <button mat-button routerLink='/'>
    <mat-icon>menu_books</mat-icon><span> Books</span>
  </button>
  <button mat-button routerLink='/order/'>
    <mat-icon>shopping_cart</mat-icon><span> Orders</span>
  </button>
  <!-- <button mat-button routerLink='/about'>
    <mat-icon>menu_book</mat-icon><span> Books</span>
  </button> -->
</mat-toolbar>