<div class="cart-wrapper">
  <p routerLink="/order/">{{ totalCartItem }} artiklar i kundvagn</p>
</div>

<div>
  <div style="
    display: flex;
    flex-wrap: wrap;
    list-style: none;
    justify-content: center;
  ">

    <mat-card *ngFor="let ecl of ecliteratures; let i = index">
      <div>
        <img [src]="ecl.Url" alt="img" style="width: '150px'; height: '150px';" />
      </div>
      <button mat-raised-button color="primary" (click)="onAddProduct(ecl)" *ngIf="!isProductInCart(ecl)">
        Lägg till
      </button>
      <div>
        {{ products[i].Product }}|
      </div>
      <div>
        {{ products[i].Price }} : -
      </div>
    </mat-card>
  </div>
  <div style="
    display: flex;
    flex-wrap: wrap;
    list-style: none;
    justify-content: center;
  ">
  </div>

</div>