<div class="cart-wrapper">
  <a routerLink="/order/">{{ totalCartItem }} artiklar i kundvagn</a>
</div>

<div
  style = "
    display: flex;
    flex-wrap: wrap;
    list-style: none;
    justify-content: center;
  "
>
  <div *ngFor="let ecl of ecliteratures">
    <div>
      <img
      [src]="ecl.Url"
      alt="img"
      style="width: '150px'; height: '150px';"
      />
    </div>
    <div>
      <button (click)="onAddProduct(ecl)" *ngIf="!isProductInCart(ecl)">
        Lägg till
      </button>
    </div>
  </div>
  <p *ngFor="let prod of products">
    {{ prod.Product }}|<br>
    {{ prod.Price }} $<br>
  </p>

</div>



